<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>GO后台管理</title>

<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/css/offcanvas.css" rel="stylesheet">
<link href="/static/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/toast_message/jquery.toastmessage.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">

    hr {
        margin: 3px 0;
    }


    html, body {
        height: 100%;
    }

    .table td {
        font-size: 13px;
        word-break: break-all;
        max-width: 250px;
    }
    .table thead tr th {
        border-bottom: 1px;
    }
    #content-box {
        max-width: 82%;
        width: auto;
        min-width: 720px;
    }
    .message{margin-bottom: 5px;}
    .message-error{color: indianred;}
    .message-info{color: deepskyblue;}

</style>