<nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:#428bca;border-color:#428bca;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:#FFF;" href="#">
                <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp;GO后台管理
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <p class="navbar-text pull-right" style="color:#FFF;">
                Logged in as User<span style="margin:6px;">|</span><a style="color:#FFF;" href="/signout/" class="navbar-link">注销</a>
                &nbsp;
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            </p>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->